$sessions-dropdown-width: 227px;
$source-indicator-width: 150px;

.sessions-dropdown {
  margin: 0 0 0 4px;

  .dropdown-toggle {
    width: $sessions-dropdown-width;
    border-radius: 3px 0 0 3px;
  }
  .dropdown-selected {
    display: inline-block;
    width: ($sessions-dropdown-width - 28px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  li.dropdown-item > a {
    width: ($sessions-dropdown-width - 48px); // 48 is width of 2 actions
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.sessions-dropdown__btn {
  margin: 0 16px 0 0;
  border-radius: 0 3px 3px 0;
}
.source-indicator {
  margin-right: 16px;

  .dropdown-toggle {
    width: $source-indicator-width;
  }
  .source-name {
    display: inline-block;
    width: ($source-indicator-width - 28px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}